.bestsellers {
  display: flex;
  padding-left: 98px;
  margin-bottom: 140px;

  &__info {
    padding-top: 47px;
    margin-right: 86px;
    max-width: 214px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__description {
    margin-bottom: 40px;
  }

  &__link {
    @include index-button;
    padding: 6px 22px 11px 24px;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      border-radius: 30px;
    }

    &:active {
      opacity: 0.3;
      background-color: rgb(255, 255, 255);
    }
  }

  &__slider {
    // max-width: 1680px;
    width: 100%;

    z-index: 2;

    .swiper-slide {
      width: auto;
    }

  }

  &__card {
    width: auto;
    position: relative;
  }

  &__card-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    bottom: 40px;
    right: 67px;


  }

  &__card-title {
    margin: 0;
    font-family: $raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }

  &__card-caption {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: $light-grey;
    margin-bottom: 3px;
  }

  &__card-link {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-decoration: underline;
  }
}

.swiper-wrapper {
  max-width: 1680px;
}

.swiper-buttons {
  height: 20px;
  display: flex;
  justify-content: flex-end;

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    width: 26px;
    height: 12px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .swiper-button-prev {
    background-image: url('../../img/swiper-prev.svg');
  }

  .swiper-button-next {
    background-image: url('../../img/swiper-next.svg');
  }

}



.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
