.bestsellers {
  display: flex;
  padding-left: 98px;
  margin-bottom: 121px;

  &__info {
    padding-top: 47px;
    margin-right: 86px;
    max-width: 214px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__description {
    margin-bottom: 40px;
  }

  &__link {
    @include index-button;
    padding: 6px 22px 11px 24px;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      border-radius: 30px;
    }

    &:active {
      opacity: 0.3;
      background-color: rgb(255, 255, 255);
    }

    &--mobile {
      display: none;
    }
  }

  &__slider {
    width: 100%;
    padding-bottom: 50px;

    z-index: 2;

    .swiper-slide {
      width: auto;
    }

  }

  &__card {
    width: auto;
    position: relative;
  }

  &__card-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    bottom: 40px;
    right: 67px;


  }

  &__card-title {
    margin: 0;
    font-family: $raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }

  &__card-caption {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: $light-grey;
    margin-bottom: 3px;
  }

  &__card-link {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    position: relative;

    &:hover {
      opacity: 0.3;
    }

    &::after {
      content: '';
      width: 70px;
      height: 1px;
      background-color: $dark-blue;
      position: absolute;
      bottom: 0;
      left: 10px;
    }

    &--powder {
      &::after {
        content: '';
        width: 70px;
        height: 1px;
        background-color: $dark-blue;
        position: absolute;
        bottom: 0;
        left: 30px;
      }
    }

  }

  .swiper-container {
    padding-bottom: 50px;
  }

  .swiper-wrapper {
    max-width: 1680px;
  }

  .swiper-buttons {
    display: flex;
    position: absolute;
    bottom: 10px;
    /* margin-left: auto; */
    right: 10%;

    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      width: 26px;
      height: 12px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .swiper-button-prev {
    background-image: url('../img/swiper-prev.svg');
  }

  .swiper-button-next {
    background-image: url('../img/swiper-next.svg');
    margin-left: 34px;
  }


  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }
}


@media (max-width: 1200px) {
  .bestsellers {
    padding-left: 45px;

    &__info {
      margin-right: 40px;
    }
  }
}

@media (max-width: 767px) {
  .bestsellers {
    padding-left: 0;
    flex-direction: column;
    margin-bottom: 80px;

    &__info {
      text-align: center;
      margin: 0 auto;
    }

    &__title {
      font-size: 28px;
      margin-bottom: 8px;
    }

    &__description {
      font-size: 16px;
      line-height: 22.4px;
      width: 200px;
    }

    &__link {
      display: none;

      &--mobile {
        display: block;
        margin: 0 auto;
        padding: 6px 27px 11px 25px;
        margin-top: -27px;
        font-size: 14px;
      }
    }

    .swiper-container {
      margin-left: 50px;
    }

    .swiper-buttons {
      display: none;
    }
  }
}
