.catalog {
  display: flex;
  flex-direction: column;
  padding-top: 141px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 130px;
  padding-left: 15px;
  padding-right: 15px;

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
  }

  &__filter-btn {
    @include index-button;
    padding: 7px 41px 11px 41px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      transition: 0.3s;
      border-radius: 30px;
    }

    &:active {
      opacity: 0.3;
      background-color: rgb(255, 255, 255);
    }

    &--hidden {
      display: none;
    }
  }

  &__close-btn {
    background-color: transparent;
    border: none;
    width: 18px;
    height: 18px;
    background-image: url('../img/close-btn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-top: 12px;

    &--hidden {
      display: none;
    }

  }

  &__title {
    font-size: 36px;
  }

  &__filter-wrapper {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    position: absolute;
    z-index: 10;
    background-color: $main-bg-color;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 6px 4px -4px rgba(214, 214, 214, 0.19);
    margin: 0 auto;
    top: 220px;
    opacity: 1;
    transition: 0.3s opacity;

    &--hidden {
      display: none;
    }
  }

  &__products-grid {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 270px);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 45px;
  }
}
