.category-card {
  position: relative;

  &--face {
    order: 1;
  }

  &--body {
    order: 3;
  }

  &__link:hover .category-card__text {
    opacity: 0.4;
    transition: 0.2s;
  }

  &__link:active .category-card__text {
    opacity: 0.5;
    color: darken($color: $dark-blue, $amount: 50%);
  }

  &__img {
    margin-bottom: 5px;
  }


  &__text {
    &::after {
      content: '';
      width: 26px;
      height: 13px;
      background-image: url('../img/right-arrow.svg');
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      right: 0;
      bottom: 7px;

    }
  }
}

@media (max-width: 1200px) {
  .category-card {
    &__img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 767px) {
  .category-card {
    &--face {
      order: 1;
      grid-area: card1;
    }

    &--body {
      order: 2;
      grid-area: card2;
    }

    &__text {
      font-size: 12px;

      &::after {
        width: 23px;
        height: 10px;
      }
    }
  }
}
