.contacts {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 140px;

  &__txt-container {
    background-color: $section-bg-color;
    padding-top: 91px;
    padding-left: 100px;
    padding-right: 312px;
    padding-bottom: 92px;
  }

  &__title {
    margin-bottom: 22px;
  }

  &__subtitle {
    margin-bottom: 7px;
  }

  &__txt {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    width: 256px;
  }

  &__list {
    margin-bottom: 36px;
  }

  &__map-container {
    max-width: 670px;
    overflow: hidden;
    margin-top: 65px;
    margin-left: -165px;

    iframe {
      border: none;
    }
  }
}


@media (max-width: 1200px) {
  .contacts {
    &__txt-container {
      padding-left: 60px;
      margin-left: 45px;
    }

    &__map-container {
      margin-left: -265px;
    }
  }
}


@media (max-width: 768px) {
  .contacts {
    flex-direction: column;
    margin-bottom: 80px;

    &__txt-container {
      margin-left: 15px;
      margin-right: 15px;
      padding-top: 52px;
      padding-left: 30px;
      padding-right: 0;
    }

    &__title {
      font-size: 28px;
      line-height: 35px;
    }

    &__list {
      margin-bottom: 25px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__txt {
      font-size: 16px;
      line-height: 23.2px;
      margin-bottom: 20px;
    }

    &__map-container {
      margin: 0 auto;
      margin-top: -40px;
      padding-left: 15px;
      padding-right: 15px;

      iframe {
        display: block;
        width: 100%;
        height: 281px;
      }
    }
  }
}
