.filter {
  margin-left: 105px;
  margin-bottom: 125px;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, max-content));
    grid-template-rows: 1fr;
    grid-template-areas:
      'face body skin'
      'face body buttons';
    column-gap: 82px;
    margin-left: -120px;
    // max-width: 781px;
    // width: 100%;

  }

  &__column {

    &--face {
      grid-area: face;

    }

    &--body {
      grid-area: body;
    }

    &--skin {
      grid-area: skin;
      margin-bottom: 37px;
    }
  }

  &__column-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
  }

  &__buttons {
    grid-area: buttons;
  }

  &__button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    padding: 8px 33px 8px;
    border-radius: 2px;
    border: solid 1px #122947;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
      transition: .3s;
    }

    &:active {
      opacity: 0.3;
      transition: .3s;
    }

    &:first-child {
      padding: 8px 26px 8px;
      margin-right: 10px;
    }
  }

}


@media (max-width: 1200px) {
  .filter {
    margin-left: 0;

    &__container {
      grid-template-areas:
        'face body skin'
        'face body skin'
        'buttons buttons buttons';
    }

    &__buttons {
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}
