.filter {
  margin-left: 105px;
  margin-bottom: 125px;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, max-content));
    grid-template-rows: 1fr;
    grid-template-areas:
      'face body skin'
      'face body buttons';
    column-gap: 82px;
    margin-left: -120px;
    // max-width: 781px;
    // width: 100%;

  }

  &__column {

    &--face {
      grid-area: face;

    }

    &--body {
      grid-area: body;
    }

    &--skin {
      grid-area: skin;
      margin-bottom: 37px;
    }
  }

  &__column-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
  }

  &__buttons {
    grid-area: buttons;
  }

  &__button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    padding: 8px 33px 8px;
    border-radius: 2px;
    border: solid 1px #122947;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
      transition: .3s;
    }

    &:active {
      opacity: 0.3;
      transition: .3s;
    }

    &:first-child {
      padding: 8px 26px 8px;
      margin-right: 10px;
    }
  }

}


@media (max-width: 1200px) {
  .filter {
    margin-left: 0;

    &__container {
      grid-template-areas:
        'face body skin'
        'face body skin'
        'buttons buttons buttons';
    }

    &__buttons {
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}


@media (max-width: 767px) {
  .filter {
    margin-left: 0;

    &__container {
      display: block;
      margin-left: 0;
    }

    &__column {
      margin-bottom: 0;
      transition: .4s;

      &--active {
        margin-bottom: 31px;
        transition: .5s;

        .checkboxes {
          display: block;
        }

        .filter__column-title::after {
          background-image: url('../img/minus-symbol.svg');
        }
      }

    }

    &__column-title {
      position: relative;
      padding-bottom: 13px;
      border-bottom: 1px solid #DBDCE0;

      &:after {
        content: '';
        font-size: inherit;
        font-weight: 500;
        color: inherit;
        width: 12px;
        height: 12px;
        background-image: url('../img/plus-symbol.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 0;
        top: 7px;

      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      width: 100%;

    }

    &__button {
      font-size: 14px;

      &:first-child {
        padding: 6px 18px 10px;
        margin-right: 20px;
      }

      &:last-child {
        padding: 6px 25px 10px;
      }

    }
  }
}
