.footer-nav {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;

  &__list {
    display: flex;
  }

  &__list-item {
    margin-right: 40px;
  }
}


@media (max-width: 1200px) {
  .footer-nav {
    &__list-item {
      margin-right: 25px;
    }
  }
}
