.join-us {
  display: flex;
  margin: 0 auto;
  max-width: 1170px;
  margin-bottom: 140px;

  &__gallery {
    display: grid;
    grid-template: repeat(2, 233px)/repeat(3, 233px);
    grid-row-gap: 0;
    margin-right: 70px;
  }

  &__txt-container {
    padding-top: 138px;
  }

  &__info {
    font-size: 18px;
    line-height: 26px;
    max-width: 381px;
    margin-bottom: 40px;
  }

  &__title {
    white-space: nowrap;
    margin-bottom: -4px;
  }

  &__link {
    @include index-button;
    padding: 6px 34px 11px 33px;


    &:hover {
      transition: 0.3s;
      border-radius: 30px;
    }

    &:active {
      opacity: 0.3;
      background-color: rgb(255, 255, 255);
    }
  }
}

@media (max-width: 1200px) {
  .join-us {
    justify-content: center;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;

    &__gallery {
      grid-template: repeat(2, 177px)/repeat(2, 177px);
    }

    &__img-container {

      &--first,
      &--fourth {
        display: none;
      }
    }

    &__img {
      display: block;
      width: 100%;
      height: auto;
    }

    &__txt-container {
      max-width: 276px;
      padding-top: 0;
    }

    &__title {
      white-space: initial;
    }
  }
}
