.main-header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  padding: 40px 98px;
  box-sizing: border-box;
  position: fixed;

  &--on-scroll {
    background-color: $main-bg-color;
    border-bottom: 1px solid $line-color;
    transition: 0.3s;
    z-index: 100;
  }

  &__logo {

    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.7;
      transition: 0.3s;
    }
  }

}
