.main-screen {
  background: url('../img/main-screen-bg.png') no-repeat 0 0/cover;
  padding-bottom: 63px;
  margin-bottom: 140px;

  &__container {
    max-width: 1070px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-top: 131px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__info-card {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    min-width: 330px;
    margin: 0 20px;
  }

  &__title {
    font-family: $raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 68px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__info {
    @include info;
    text-align: center;
    margin-bottom: 33px;
  }

  &__link {
    @include index-button;
    padding: 7px 27px 10px 27px;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      border-radius: 30px;
    }

    &:active {
      opacity: 0.3;
      background-color: rgb(255, 255, 255);
    }
  }
}


@media (max-width: 1200px) {
  .main-screen {
    &__container {
      grid-template-columns: 36% 36%;
      padding-left: 45px;
      padding-right: 45px;
      position: relative;
      justify-content: space-between;
    }

    &__info-card {
      position: absolute;
      left: 50%;
      transform: translateX(-52%);
      top: 98px;
      z-index: 5;
      margin: 0;
    }
  }
}


@media (max-width: 768px) {
  .main-screen {
    margin-bottom: 15px;

    &__title {
      font-size: 42px;
      margin-bottom: -5px;
    }

    &__info {
      font-size: 16px;
      line-height: 22.4px;
      margin-bottom: 24px;
    }

    &__container {
      grid-template-areas:
        "info info"
        "card1 card2";
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 53px;
      row-gap: 33px;
      grid-template-columns: 46% 46%;
    }

    &__info-card {
      order: 0;
      position: static;
      grid-area: info;
      transform: unset;
      margin: 0 auto;
      left: 0;
      top: 0;
      width: 100%;
      min-width: 0;
    }

    &__link {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
