.main-header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  padding: 40px 98px;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;

  &--on-scroll {
    background-color: $main-bg-color;
    border-bottom: 1px solid $line-color;
    transition: 0.3s;
  }

  &__logo {

    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.7;
      transition: 0.3s;
    }
  }

}

@media (max-width: 1200px) {
  .main-header {
    padding: 40px 45px;

    &__logo {
      order: 1;
    }
  }
}

@media (max-width: 768px) {
  .main-header {
    padding: 30px 15px;

    &__logo svg {
      width: 85px;
      height: 13px;
    }
  }
}
