.main-footer {
  display: flex;
  flex-direction: column;
  background-color: $section-bg-color;

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 52px;
  }

  &__logo-link {
    align-self: start;
    margin-right: 70px;

    &:hover {
      opacity: 0.5;
    }

    :active {
      opacity: 0.3;
    }
  }

  &__credits-wrapper {
    display: flex;
    border-top: 1px solid #D1D1D1;
  }

  &__credits-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    padding-top: 8px;
  }

  &__credits {
    font-size: 12px;
    line-height: 18px;
    color: $credits-color;
  }

  &__credits-link {
    font-size: 12px;
    line-height: 18px;
    color: $credits-color;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (max-width: 1200px) {
  .main-footer {
    &__container {
      padding-left: 45px;
      padding-right: 45px;
    }

    &__logo-link {
      margin-right: 50px;
    }

    &__credits-container {
      padding-left: 45px;
      padding-right: 45px;
    }
  }
}

@media (max-width: 767px) {
  .main-footer {
    &__container {
      flex-direction: column;
      padding-right: 0;
      padding-left: 15px;
      padding-top: 45px;
      margin-bottom: 43px;
    }

    &__logo-link {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__logo-link svg {
      width: 85px;
      height: 13px;
    }

    &__credits-container {
      flex-direction: column;
      align-items: unset;
      // padding-top: 12px;
      // padding-left: 15px;
      // padding-right: 0;
      padding: 12px 0 25px 15px;
    }
  }

}
