.main-screen {
  background: url('../img/main-screen-bg.png') no-repeat 0 0/cover;
  padding-bottom: 63px;
  margin-bottom: 140px;

  &__container {
    max-width: 1030px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-top: 131px;
  }

  &__info-card {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    min-width: 330px;
    margin: 0 20px;
  }

  &__title {
    font-family: $raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 68px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__info {
    @include info;
    text-align: center;
    margin-bottom: 33px;
  }

  &__link {
    @include index-button;
    padding: 7px 27px 10px 27px;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      border-radius: 30px;
    }

    &:active {
      opacity: 0.3;
      background-color: rgb(255, 255, 255);
    }
  }
}
