.menu-list {
  display: flex;

  &__item {
    margin-right: 35px;
  }

  &__item-link {

    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.2;
      transition: 0.3s;
    }
  }
}

@media (max-width: 1200px) {
  .menu-list {
    flex-direction: column;
    display: none;
    margin-top: 50px;

    &--show {
      display: flex;
    }

    &__item {
      margin-bottom: 40px;
    }

    &__item-link {
      font-family: $raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
    }
  }
}


@media (max-width: 767px) {
  .menu-list {

    &__item {
      margin-bottom: 35px;
    }

    &__item-link {
      font-size: 28px;
    }
  }
}
