.our-story {
  background-image: url('../img/our-story-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 140px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
  }

  &__info {
    font-family: $raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    padding-top: 112px;
    margin-bottom: 40px;
  }

  &__link {
    @include index-button;
    margin: 0 auto;
    padding: 8px 25px 10px 25px;
    margin-bottom: 120px;

    &:hover {
      transition: 0.3s;
      border-radius: 30px;
    }

    &:active {
      opacity: 0.3;
      background-color: rgb(255, 255, 255);
    }
  }
}

@media (max-width: 1200px) {
  .our-story {
    &__info {
      width: 666px;
      margin: 0 auto;
      margin-bottom: 40px;
    }

    &__container {
      width: 100%;
    }
  }

}


@media (max-width: 768px) {
  .our-story {
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 70px;

    &__info {
      font-size: 22px;
      line-height: 27.5px;
      width: 100%;
      padding-top: 55px;
      margin-bottom: 25px;
    }

    &__link {
      font-size: 14px;
      margin-bottom: 60px;
    }
  }
}
