.pagination {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 92px;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;

  &__dash {
    display: block;
    width: 50px;
    height: 1px;
    background-color: $dark-blue;
  }

  &__max-page {
    color: $light-grey;
  }
}

@media (max-width: 767px) {
  .pagination {
    margin: 0;
    font-size: 14px;
    line-height: 27.3px;


  }
}
