.personal-care {
  display: flex;
  position: relative;
  margin-bottom: 140px;

  &__container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
  }

  &__txt-container {
    padding: 92px 305px 110px 100px;
    background-color: $section-bg-color;
    max-width: 670px;
    max-height: 583px;

    :nth-child(3) {
      margin-bottom: 46px;
    }
  }

  &__title {
    margin-bottom: 25px;
    white-space: nowrap;
  }

  &__info {
    width: 329px;
    margin-bottom: 12px;
  }

  &__link {
    @include index-button;
    padding: 7px 27px 10px 27px;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      border-radius: 30px;
    }

    &:active {
      opacity: 0.3;
      background-color: rgb(255, 255, 255);
    }
  }

  &__img-wrapper {
    // position: absolute;
    margin-top: 67px;
    margin-left: -171px;
  }
}


@media (max-width: 1200px) {
  .personal-care {
    padding-left: 45px;

    &__txt-container {
      padding: 60px 271px 60px 60px;
    }

    &__img-wrapper {
      margin-left: -210px;
    }

    &__img {
      display: block;
      max-width: 100%;
      height: 398px;
      object-fit: cover;
    }
  }
}
