.personal-care {
  display: flex;
  position: relative;
  margin-bottom: 140px;

  &__container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
  }

  &__txt-container {
    padding: 92px 305px 110px 100px;
    background-color: $section-bg-color;
    max-width: 670px;
    max-height: 583px;

    :nth-child(3) {
      margin-bottom: 46px;
    }
  }

  &__title {
    margin-bottom: 25px;
    white-space: nowrap;
  }

  &__info {
    width: 329px;
    margin-bottom: 12px;
  }

  &__link {
    @include index-button;
    padding: 7px 27px 10px 27px;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      border-radius: 30px;
    }

    &:active {
      opacity: 0.3;
      background-color: rgb(255, 255, 255);
    }
  }

  &__img-wrapper {
    // position: absolute;
    margin-top: 67px;
    margin-left: -171px;
  }
}


@media (max-width: 1200px) {
  .personal-care {
    padding-left: 45px;

    &__txt-container {
      padding: 45px 271px 60px 60px;
    }

    &__img-wrapper {
      margin-top: 45px;
      margin-left: -225px;
    }

    &__img {
      display: block;
      max-width: 100%;
      height: 398px;
      object-fit: cover;
    }
  }
}

@media (max-width: 767px) {

  .personal-care {
    padding: 0 15px;
    margin-bottom: 80px;

    &__container {
      flex-direction: column;
      justify-content: center;
    }

    &__txt-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 51px 32px 180px 32px;
    }

    &__title {
      font-size: 28px;
      text-align: center;
      line-height: 35px;
      white-space: unset;
      width: 228px;
      margin: 0 auto;
      margin-bottom: 13px;
    }

    &__info {
      font-size: 16px;
      line-height: 22.4px;
      text-align: center;
      width: 226px;
      margin: 0 auto;

      &--hidden {
        display: none;
      }
    }

    &__link {
      font-size: 14px;
      text-align: center;
      margin: 0 auto;
      margin-top: -23px;
      width: 182px;
      white-space: nowrap;
    }

    &__img-wrapper {
      margin: 0 auto;
      width: 86.1%;
      margin-top: -130px;
    }

    &__img {
      height: 252px;
    }
  }

}
