.recent {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 140px;

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    column-gap: 30px;
    margin-bottom: 45px;
  }
}

@media (max-width: 1200px) {
  .recent {
    max-width: 1110px;
    padding-left: 45px;
    padding-right: 45px;

    &__gallery {
      grid-template-columns: repeat(2, 47.6%);
      column-gap: 4.63%;
      row-gap: 30px;
    }
  }
}
