.try-promo {
  display: flex;
  background-image: url('../img/try-promo-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-end;
  margin-bottom: 140px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    width: 41.7%;
    padding-bottom: 80px;
    align-items: flex-start;

  }

  &__title {
    margin-bottom: 13px;
  }

  &__info {
    max-width: 284px;
    margin-bottom: 33px;
  }

  &__link {
    @include index-button;
    padding: 6px 27px 11px 27px;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      border-radius: 30px;
    }

    &:active {
      opacity: 0.3;
      background-color: rgb(255, 255, 255);
    }
  }
}

@media (max-width: 1200px) {
  .try-promo {
    background-position-x: 55%;

    &__wrapper {
      padding-right: 85px;
    }

    &__title {
      white-space: nowrap;
    }
  }
}
