.user-functions {
  display: flex;
  margin-left: 17px;

  &__item:last-child {
    margin-left: 30px;
  }

  &__item-link {
    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.2;
      transition: 0.3s;
    }
  }
}
