@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/m-plus-1p-v19-latin_cyrillic-regular.eot');

  src: local('M PLUS 1p'), local('MPLUS1p-Regular'),
    url('../fonts/m-plus-1p-v19-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/m-plus-1p-v19-latin_cyrillic-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/m-plus-1p-v19-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/m-plus-1p-v19-latin_cyrillic-500.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v18-latin_cyrillic-regular.eot');
  src:
    url('../fonts/raleway-v18-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/raleway-v18-latin_cyrillic-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/raleway-v18-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/raleway-v18-latin_cyrillic-500.woff') format('woff');
  font-display: swap;
}
