@mixin info {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

@mixin index-button {
  border: 1px solid $btn-border;
  border-radius: 2px;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

@mixin section-title {
  font-family: $raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
}

@mixin section-info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}
