$m-plus: 'M PLUS 1p',
sans-serif,
Arial;

$raleway: 'Raleway',
sans-serif,
Arial;


/*text color*/
$dark-blue: #122947;
$light-grey: #9A9DA0;

/*bg colors*/
$main-bg-color:#F8F8F6;
$line-color: #DBDCE0;
$btn-border: #B3BAC1;
